.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.header-wrapper {
    border-bottom: 1px solid #828282;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

header nav ul li a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #828282;
    text-decoration: unset;
}

header nav ul li a.active-link {
    color: #070707;
}

.skills {
    padding: 100px 0;
}

.skills .title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.skills .subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    margin: 20px 0 50px 0;
}

.skills .item {
    display: flex;
    align-items: center;
    justify-items: center;
}

.about {
    padding: 100px 0 100px 0;
    background-color: #F6F6F6;
}

.about .title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    margin: 50px 0 0 0;
}

.name .title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #070707;
    margin: 12px 0 50px 0;
}

.portfolio .title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    margin-bottom: 40px;
}

.site-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin: 40px 0 70px 0;
    text-decoration: unset;
}

.portfolio {
    padding: 100px 0 30px 0;
    background-color: #F6F6F6;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts .title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    margin: 100px 0 20px 0;
}

.contacts .text-contacts {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: 180px;
    height: 44px;
    background: #070707;
    border-radius: 22px;
    margin: 60px 0 30px 0;
}

.button-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-footer {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
    margin: 60px 0 100px 0;
}